---
title: Contact
---

extends layouts/layout.pug

block text
    section.stack.pads
        h1.caph1 Come say hi!
            |
            |
            span.smolcata ✨
        p &mdash;
        .switcher
            .frame
                video(src="/assets/hello.mp4" autoplay muted loop alt="hello there!")
            p.stack
                a.anim-iconfwd.anim-underline.smolcata(href="mailto:hello@trang.design") hello@trang.design
                a.anim-iconfwd.anim-underline.smolcata(href="https://behance.net/katherine-le") Behance
                a.anim-iconfwd.anim-underline.smolcata(href="https://instagram.com/meyuneko") Instagram
                a.anim-iconfwd.anim-underline.smolcata(href="https://www.linkedin.com/in/katherinele00") LinkedIn