extends layout.pug

block text
    .switcher.pads
        section.title.stack
            h1.caph1 #{title}
            p &#8212;
        article.cappara.stack !{content}
block content
    .grid#extra
        if imglist
            each img in imglist
                img(src=img.url, alt=img.alt)